html, body {
  height: 100%;
  width: 100%;
}

#disp{
    width:94vw;
  max-width:350px;
  height:50px;
    font-size:1.4rem;
}
#redio-cont{
    width:90vw;
    max-width: 320px;
    padding: 12px;
}
.radio{
  width:85%;
}
.container{
  width:98vw;
    max-width:380px;
  border-radius:20px;
box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 20px 10px,
    rgba(0, 0, 0, 0.1) 4px 4px 6px 2px;

}

.bg-lightblue{
  background-color:#337ff2;
}
.bg-blue{
  background-color:#0748ab;
}

#btn:hover {
  max-width: 650px;
  transform: scale(1.1);
  box-shadow: black  5px 5px 20px 3px;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
body {
  font-size: 14px; /* Adjust default font size for smaller screens */
}

.container {
  width: 90%;
  max-width: 90%;
  border-radius: 15px;
}

#disp {
  width: 90%;
  max-width: 90%;
  height: 40px; /* Adjust height for smaller screens */
  font-size: 1.2rem;
}

/* Adjustments for the copy button */
#copy {
  margin-left: -25px; /* Shift the copy button for smaller screens */
}

}

/* Media query for very small screens (e.g., mobile devices) */
@media screen and (max-width: 480px) {
.container {
  width: 95%;
  max-width: 95%;
  border-radius: 10px;
}

#disp {
  width: 95%;
  max-width: 95%;
  height: 30px; /* Further adjust height for very small screens */
  font-size: 1rem;
}

/* Adjustments for the copy button on very small screens */
#copy {
  margin-left: -20px; /* Shift the copy button more for very small screens */
}

}
